# Build Output
dist/

# Dependencies
node_modules/

# Environment Variables
.env
.env.production

# Generated Types
.astro/

# JetBrains
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Mac
.DS_Store

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Vitest
coverage/

# Wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example